.field{
  margin-left:;
  width: 75%;
}

.login-button{
  padding: 5px 24px 5px 24px;
}

.hero-body{
  margin-bottom: 0px;
}

.inputfield{
  margin-top: -150px;
  margin-bottom: 200px;
}

.login-form > input{
  border-style: solid;
  border-color: #666;
  padding: 6px 18px 6px 18px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 2px;
  font: bold 18px Arial, Helvetica, Sans-serif;
}

.login-form > p{
  font: bold 15px Arial, Helvetica, Sans-serif;
  color: red;
}

.loginfield{
  display: flex;
  margin-bottom: 190px;
  width: 75%;
  justify-content: center;
}

.pickup-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.pickup-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logout-button{
  margin-top: 15px;
}

.pickup-button{
  padding-left: 34px;
  padding-right: 34px;
}

.quarter{
  width: 50%;
}

.last{
  width: 100%;
}
.progress{
  margin-top: 45px;
}

.progress-pointer{
  height: 100px;
  width: 100%;
  float: left;
  display: flex;
  margin-top: -23px;
  font: bold 18px Arial, Helvetica, Sans-serif;
}
.last-progress-pointer{
  height: 100px;
  position: absolute;
  width: 100%;
  float: right;
  flex-direction: row-reverse;
  display: flex;
  margin-top: -23px;
  font: bold 18px Arial, Helvetica, Sans-serif;
}

.progress-labels{
  height: 100px;
  width: 100%;
  float: left;
  display: flex;
  margin-top: -86px;
  font: bold 10px Arial, Helvetica, Sans-serif;
}

.last-label-pointer{
  height: 100px;
  position: relative;
  width: 100%;
  float: right;
  flex-direction: row-reverse;
  display: flex;
  font: bold 10px Arial, Helvetica, Sans-serif;
  margin-top: -100px;
}

.last-button{
  width: 140px;
  margin-bottom: 100px;
  margin-top: -50px;
}

.subtitle2{
  text-align: center;
  margin-bottom: 10px;
}

